nav
  ul
    li
      a.current(href="/account-english")
        img.flag(
          src="/images/flag-of-United-States-of-America.png"
          alt="US Flag"
          title="Go to US English site"
        )
    li
      a(href="/account-french")
        img.flag(
          src="/images/flag-of-France.png"
          alt="Drapeau de la France"
          title="Aller sur le site français"
        )
    li
      a(href="/account-serbian")
        img.flag(
          src="/images/flag-of-Serbia.png"
          alt="Zastava Srbije"
          title="Idite na srpski sajt"
        )
